---
layout: home
author_profile: true
title: "Portfolio"

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.JPG
  actions:
    - label: "View my C.V."
      url: "https://novoresume.com/gb/a/eleonore.henry.1"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  ---

  {% include feature_row id="intro" type="center" %}

  {% include feature_row %}

  {% include feature_row id="feature_row2" type="left" %}

  {% include feature_row id="feature_row3" type="right" %}

  {% include feature_row id="feature_row4" type="center" %}
